@model LoginManager.Web.Models.LoginViewModel

@{
    ViewData["Title"] = "Login";
}
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

<div class="container mt-5">
    <h2 class="text-center">Login</h2>
    
    <div class="row justify-content-center">
        @Html.ValidationSummary(false, "", new { @class = "text-danger d-flex justify-content-center" })
        <div class="col-md-6">
            <form asp-action="Login" method="post">
                <div class="mb-3">
                    <label asp-for="Email" class="form-label">Email address</label>
                    <input asp-for="Email" class="form-control" placeholder="Enter your email" required />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
                <div class="mb-3">
                    <label asp-for="Password" class="form-label">Password</label>
                    <input asp-for="Password" type="password" class="form-control" placeholder="Enter your password" required />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
                
                <button type="submit" class="btn btn-primary w-100">Login</button>
            </form>
            <p class="mt-3 text-center">
                <a asp-controller="Account" asp-action="Register">Create an Account</a>
            </p>
        </div>
    </div>
</div>


